@using DFS.UI.Common;
@model DFS.UI.Models.NBAPlayerViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="card no-border col-md-12">
    <div class="card-header">
        Games Today
    </div>
    <div class="card-body form-group row col-md-12">
        <div class="row col-md-12">
            <div class="col-md-12">
                <label class="col-md-4">
                    Game Date
                </label>
                <input type="text" id="datepicker" />
                <span class="fa fa-calendar-alt fa-cal"></span>
            </div>
        </div>
    </div>
    <div class="col-md-12 gamepicker" id="gamesList">
        <h6 class="text-left">Filter Teams</h6>
        <div class="cardAll pull-left">
            <button class="btn-primary">
                All
                <i class="fas fa-check"></i>
            </button>
        </div>
    </div>
</div>
<partial name="_NBACourtPartial"/>
<div class="card no-border col-md-12">
    <div class="row">
        <div class="card-header">
            Player Stats
        </div>
        <div class="contianer col-md-12">
            <div class="card-body">
                <table id="jqGrid"></table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var date = $("#datepicker");
        var gamesList = $("#gamesList");        
        var court = $("#NBACourt");
        var nbaPositions = {}
        
        date.datepicker();
        $(".fa-cal").on("click", function () {
            date.datepicker("show");
        })

        date.change(function (e) {
            params = {}
            params.date = $(this).val()

            $.ajax({
                url: "/NBA/GetGamesForDate",
                type: "POST",
                data: params,
                success: function (data) {
                    PopulateGames(JSON.parse(data));
                },
                error: function () {
                }
            });

        });

        function PopulateGames(data) {
            gamesList.find('.card').remove()
            $.each(data, function (i, value) {
                gamesList.append($("<div class='card'><button class='TeamName'>" + value.HomeTeam + "</button><button class='TeamName'>" + value.AwayTeam + "</button>"));
            });
        };

        gamesList.on("click", '.TeamName', function (e) {
            console.log($(this).text);
            params = {};
            params.date = date.val();
            params.team = $(this).text();
            params.opp = $(this).parent().text().replace($(this).text(), "");           

            $.ajax({
                url: "/NBA/GetGameStatsByDate",
                type: "POST",
                data: params,
                success: function (data) {
                    var jsonData = JSON.parse(data)                    
                    tabulate(jsonData);
                    fillChartDetails(jsonData)
                },
                error: function () {

                }
            });
        });


        var tabulate = function (data) {
            console.log(data);
            $("#jqGrid").clearGridData();

            $("#jqGrid").jqGrid('setGridParam', { data: data });
            $("#jqGrid").trigger("reloadGrid");

            var Columnmodel = [
                { name: 'Name', index: 'Name', width: 150, align: 'center', editable: false },
                { name: 'Team', index: 'Team', width: 50, align: 'center', editable: false },
                { name: 'Position', index: 'Position', width: 50, align: 'center', editable: false },
                { name: 'Height', index: 'Height', width: 100, align: 'center', editable: false },
                { name: 'Weight', index: 'Weight', width: 100, align: 'center', editable: false },
                { name: 'MinutesPlayed', index: 'MinutesPlayed', width: 100, align: 'center', editable: false },
                { name: 'FieldGoal', index: 'FieldGoal', width: 20, align: 'center', editable: false },
                { name: 'FieldGoalAttempted', index: 'FieldGoalAttempted', width: 20, align: 'center', editable: false },
                { name: 'Usage', index: 'Usage', width: 50, align: 'center', editable: false },
                { name: 'ThreePointer', index: 'ThreePointer', width: 50, align: 'center', editable: false },
                { name: 'ThreePointerAttempted', index: 'ThreePointerAttempted', width: 50, align: 'center', editable: false },
                { name: 'DefensiveRating', index: 'DefensiveRating', width: 50, align: 'center', editable: false },
                { name: 'OffensiveRating', index: 'OffensiveRating', width: 50, align: 'center', editable: false },
                { name: 'FreeThrow', index: 'FreeThrow', width: 50, align: 'center', editable: false },
                { name: 'OffensiveRebound', index: 'OffensiveRebound', width: 50, align: 'center', editable: false },
                { name: 'DefensiveRebound', index: 'DefensiveRebound', width: 50, align: 'center', editable: false },
                { name: 'TotalRebound', index: 'TotalRebound', width: 50, align: 'center', editable: false },
                { name: 'TotalReboundPercentage', index: 'TotalReboundPercentage', width: 50, align: 'center', editable: false },
                { name: 'Assists', index: 'Assists', width: 50, align: 'center', editable: false },
                { name: 'Steals', index: 'Steals', width: 50, align: 'center', editable: false },
                { name: 'Blocks', index: 'Blocks', width: 50, align: 'center', editable: false },
                { name: 'Turnovers', index: 'Turnovers', width: 50, align: 'center', editable: false },
                { name: 'Fouls', index: 'Fouls', width: 50, align: 'center', editable: false },
                { name: 'Points', index: 'Points', width: 50, align: 'center', editable: false }
            ];

            $("#jqGrid").jqGrid({
                colModel: Columnmodel,
                pager: '#grdEmail',
                datatype: "jsonstring",
                datastr: data,
                jsonReader: { repeatitems: false },
                rowNum: 25,
                subGrid: false,
                viewrecords: true,
                height: "auto",
                ignoreCase: true
            });
        };


        var fillChartDetails = function (data) {
            var primaryTeam = data[0].Team;            
            var id = 1;
            nbaPositions = {};

            $.each(data, function (i, value) {
                var tableColumns = ["Min", "Def", "Off", "Usa", "Eff"]

                if (value.Team === primaryTeam) {
                    if (String(nbaPositions[value.Position]) === "undefined") {                        
                        nbaPositions[value.Position] = value.Name;

                        // Set Player Name
                        court.find("#" + value.Position + "_" + String(id) + "_L").text(value.Name + "(" + String(value.Height) + ")" );

                        // Set values in the court tables
                        $.each(tableColumns, function (t, v) {
                            tableColumns[t] = value.Position + "_" + String(id) + "_" + v;
                        });

                        // Set Player Details
                        court.find("#" + tableColumns[0]).text(value.MinutesPlayed);
                        court.find("#" + tableColumns[1]).text(value.DefensiveRating);
                        court.find("#" + tableColumns[2]).text(value.OffensiveRating);
                        court.find("#" + tableColumns[3]).text(value.Usage);
                        court.find("#" + tableColumns[4]).text(value.Points);
                    }
                    
                }
                else {
                    nbaPositions = {};
                    id = 2;
                    primaryTeam = value.Team;          
                }
            });
        };
    });
</script>
