
/*
    Jqgird CSS
*/
@import "UI/jqgrid.css";

.noNewLine{
    white-space: nowrap;
    display: inline-block;
}

.card-body-jqgrid{
    border: 1px beige groove;
}

.no-padding{
    padding: 1px;
}

.no-border {
    border: none;
}

.TeamName {
    background-color: #DDF2F5 !important;
    padding: 4px;
    margin: 2px;
    color: #000000 !important;
    font-weight: normal;
    text-align: center;
    display: inline;
    white-space: nowrap;
}

    .TeamName:hover {
        box-shadow: 2px 2px 6px grey !important;
    }


.gamepicker {
    text-align: center;
    margin: 2px;
    padding: 4px;
    border: groove;
    opacity: 0.45;
    overflow: auto;
    white-space: nowrap;
}

    .gamepicker .card {
        display: inline-block;
        border: 1px dotted;
        border-color: #212529;
        padding: 2px;
        margin: 4px;
    }

    .gamepicker .cardAll {
        display: inline-block;
        padding: 4px;
        margin: 2px;
    }

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

/*
    COURT CSS
*/

.playerData {
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}

.NBACourt {
    background: url('../images/NBA Court.jpg') no-repeat center;
    background-position: center;
    background-size: cover;
    height: 600px;
    background-size: 65% 100%;
    margin: 0px;
    text-align: center;
}
    .NBACourt .playerBox {
        border: 2px groove;
        width: 80%;
        height: 80%;
        position: relative;
        background-color: #e4e4e4;
    }

    .NBACourt .playerBoxLeft {
        top: 15%;
        left: 10%;
    }

    .NBACourt .playerBoxRight {
        top: 15%;
        right: -20%;
    }

    .NBACourt .playerBoxCenter {
        top: 15%;
        right: -15%;
    }

/*
    Player Table
*/