/*
    JQGrid CSS
*/

.ui-jqgrid {
    border: 3px #999e91 groove !important;
    margin-left: auto;
    margin-right: auto;
}

.ui-jqgrid .ui-jqgrid-hdiv {
    padding: 5px;
    background-color: #cce6ff;    
}

.ui-jqgrid-sortable {
    background-color: #cce6ff;
    height: 25px;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.ui-row-ltr{
    font-size: 15px;
    border: 1px black solid;
}